*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
TAGS
.ruff_cache/
.semgrep/
.mypy_cache/
.pytest_cache/
compile_commands.json
build/
dist/
.venv_static/
.tools/
.vscode/
sdkconfig
sdkconfig.old
sdkconfig.local
sdkconfig.local.defaults
.env
.env.*
